body {
    margin: 0;
    margin-left: 1%;
    padding: 0;
    top: 0;
    left: 0;
    background-color: #4C5158;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    font-family: sans-serif;
}



.navgator {
    height: 99vh;
    width: 20vw;
}

.logo {
    height: 120px;
    width: 100%;

}

.container_botão {
    background-color: #44DDFF;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #000000 !important;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

}

.menu {
    width: 100%;
    height: 40%;
    background-color: #141625;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sair {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container_menu {
    width: 100%;
    height: 60%;
}

.img_log {
    height: 16%;
}

.adicionar {
    width: 90%;
    display: flex;
    color: #000000;
}

.adicionar .maquina {
    text-decoration: none;
    color: #000000;
}

.botao_adicionar {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teste {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.div_espacamento {
    height: 70px;
}

.div_hora {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    justify-content: space-around;
}

.relogio_icon {
    width: 30px;
    height: 30px;
}

.user_icon {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.temporaria .apontamento {
    overflow: auto;
}

.temporaria .barra-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 6%;
}

.principal {
    width: 75vw;
    height: 98vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.search-container {
    position: relative;
    width: 40px;
    height: 40px;
}

.search-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: rotate(45deg);
    cursor: pointer;
}

.search-icon::before {
    content: '';
    width: 25%;
    height: 25%;
    border-radius: 50%;
    border: 2px solid #44DDFF;
}

.search-icon::after {
    content: '';
    width: 20%;
    height: 2px;
    background-color: #44DDFF;
}

.search-input {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: none;
    outline: none;
    padding-left: 40px;
    transition: all 0.7s;
}

.search-input:focus {
    width: 750px;
    box-shadow: 2px 2px 5px #777;
}

.search-input:valid {
    width: 250px;
}

.conteudo {
    display: flex;
    justify-content: space-between;
    height: 93%;
    width: 100%;
}

.pacientes {
    width: 40%;
}

.icone_usuarios {
    width: 100%;
    height: 65px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.conteudo_icones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

.div_user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 1%;
}
.divMetricas{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 60%;
    height: 95%;
    
}
.divKpi{
    width: 16%;
    height: 60%;
    background-color: #b8ecfc;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    border-radius: 12px;

}
.critico{
    border-left: #eb1e1e 8px solid;
}
.alerta{
    border-left: #eba31e 8px solid;
}
.bom{
    border-left: #ebe81e 8px solid;
}
.otimo{
    border-left: #5feb1e 8px solid;
}
.atual{
    width: 24%;
    border-left: #5feb1e 8px solid;

}
.kpi {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.h2KpiTitulo{
    color: whitesmoke;
}
.containerKpiAtual{
    width: 40%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.grafico_1 {
    width: 100%;
    height: 295px;
    background-color: #141625;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.selecao_dia {
    color: #141625;
}

.calendario {
    width: 100%;
    height: 295px;
    background-color: #141625;
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.temporaria .pacientes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.temporaria .requests {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.div_select_andar {
    width: 100%;
    height: 65px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.select_andar {
    width: 100px;
    height: 25px;
    background-color: #44DDFF;
    border-radius: 15px;
    text-decoration: none;
}

.container_graficoDonut {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico_Donut {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grafico_2 {
    width: 100%;
    height: 295px;
    background-color: #141625;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.texto {
    color: white;

}

.link {
    text-decoration: none;
    color: white;
}

.texto_hover {
    color: white;
    cursor: pointer;
}

.maquina_selecao {
    border-radius: 10px;
    background-color: #4C5158;
    text-decoration: none;
}

.grafico_3 {
    width: 100%;
    height: 295px;
    background-color: #141625;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.requests {
    width: 40%;
}

.apontamento {
    width: 100%;
    height: 80%;
    background-color: #141625;
    border: 0.5px solid rgb(255, 255, 255);
}

.maquinas_gerais {
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.div_graficos {
    display: flex;
    justify-content: space-around;
}

.div_graficos_metricas {
    width: 75%;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    justify-content: space-around;
}

.div_hoje {
    background-color: #44DDFF;
    width: 100%;
    color: #000000;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}


.container_kpi{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.container_grafico {
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grafico_atividade {
    display: flex;
    justify-content: center;
    align-items: center;
}

.foto_graf {
    width: 50%;
}

#maquina_tot_problema {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#myChartAtividade {
    width: 100% !important;
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apontamentos_atuais {
    width: 100%;
    height: 65px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.posicao {
    display: flex;
    justify-content: center;
    align-items: center;
}

.memoriaRam {
    width: 100%;
    height: 80px;
    background-color: #141625;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    align-items: center;
}

.espacamento_vermelho {
    width: 5px;
    height: 80px;
    background-color: #FF4343;
}

.processador {
    width: 100%;
    height: 80px;
    background-color: #141625;
    display: flex;
    flex-direction: row;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    align-items: center;
}

.espacamento_amarela {
    width: 5px;
    height: 80px;
    background-color: #EBBE21;
}

.dado {
    display: flex;
    justify-content: center;
    align-items: center;
}

.disco {
    width: 100%;
    height: 80px;
    display: flex;
    background-color: #141625;
    flex-direction: row;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    align-items: center;
}

.espacamento_azul {
    width: 5px;
    height: 80px;
    background-color: #44DDFF;
}

.apontamentos_anteriores {
    width: 100%;
    height: 55px;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}

.div_maquina {
    width: 100%;
    height: 80px;
    background-color: #141625;
    flex-direction: row;
    border-bottom: 0.5px solid rgb(255, 255, 255);
}

.div_maquina2 {
    width: 100%;
    height: 80px;
    background-color: #141625;
    flex-direction: row;
    border-bottom: 0.5px solid rgb(255, 255, 255);
}

.div_maquina3 {
    width: 100%;
    height: 80px;
    background-color: #141625;
    flex-direction: row;
    border-bottom: 0.5px solid rgb(255, 255, 255);
}

.div_outras_maquinas {
    width: 100%;
    height: 80px;
    background-color: #141625;
    flex-direction: row;
    border-bottom: 0.5px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.div_hover {
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #44DDFF;
    cursor: pointer;
}

.div_hover:hover {
    font-size: 20px;
    color: black;

}

.dado {
    display: flex;
    justify-content: space-evenly;
}

.modal {
    width: 50%;
    height: 70%;
    background-color: #CDD1D0;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.nomeModal {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;

}

.graficoModal {
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: #000000 2px solid;
    border-top: #000000 2px solid;

}

.infoModal {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.infoMaquina {
    width: 15%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-left: #000000 2px solid;
}

.graficoMaquina {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-right: #000000 2px solid;
}
.divBotaoMaquina{
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.divListaProcesso{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image_processo_unitario{
    height: auto;
    width: 6%;
    cursor: pointer;
}
.span_processo_unitario{
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 500;
}
.processo_unitario{
    height: 20%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: white 1px solid;
    background-color:#141625;
    border-radius: 10px;
}
.execMaquina {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.conteudoModal {
    width: 95%;
    height: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.sair_modal {
    width: 160px;
    height: 60px;
    border-radius: 20px;
    cursor: pointer;
    background-color: #44DDFF;
    display: flex;
    justify-content: center;
    font-size: 20px;
    align-items: center;
}

.nomeModal img {
    height: 30%;
}

.modal button {
    background-color: #141625;
    color: white;
    border-radius: 20px;
    height: 100%;
    cursor: pointer;
}

.sair_botão:hover {
    font-size: 20px;
    color: black;
}

#timer {
    color: white;
}