@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}
.navbar{
    width: 100%;
    height: 63px;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    display: flex;
    flex-direction: column;
    /* border-bottom: 3px solid rgb(94, 94, 94); */
    background-color: rgba(0, 0, 0, 0.781);
    z-index: 	999;
}
.nav{
  /* border: 3px solid rgb(22, 209, 5); */
  width: 94%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav img{
 width: max(15vw,100px);

}
.led{
  width: 100%;
  height: 4px;
}
.menu{
  /* border: 3px solid rgb(5, 209, 199); */
  display: flex;
  flex-direction:row;
  justify-content:space-between;
  align-items: center;
  list-style: none;
  /* text-decoration: none; */
  height: 100%;
  width: 20%;
  /* border: 3px solid rgb(22, 209, 5); */
}
.links{
  text-decoration: none;
    color: rgb(255, 255, 255);
    /* list-style: none; */
    font-size: max(1.5vw, 5px);
    font-weight: 600;
    /* border: 3px solid rgb(5, 209, 199); */
}

.container {
    width: 94vw;
    margin: auto;
}
.imagemFundo{
height: 100vh;
width: 98.7vw;
background-image: url("../assets/imgs/4.jpg");
background-size: cover;
background-size: max(100vw, 5px);
background-repeat: no-repeat;
}
.container.informaçao{
  height: 100%;
  justify-self: center;
}
.conteudo{
  /* border: solid red 1px; */
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: flex-start;
  /* border: solid 1px blue; */
}
 @media screen and (max-width: 800px) {
  .conteudo{
    height: 35%;
    width: 80%;
    transition: 0.5s;
  }
  .imagemFundo{
    background-size: max(150vw, 5px);
    transition: 0.5s;
  }
  .navbar{
    height: 5vh;
    transition: 0.5s;
  }
  .menu{
    width: 35%;
  }
  .links{
    font-size: max(2vw, 1px);
  }
  .conteudo_medio  {
    font-size: max(2.5vw, 5px);
    
  }
  
}

/* @media screen and (max-width: 900px) {
  .conteudo{
    height: 70%;
    transition: 0.5s;
  }
  .navbar{
    height: 8vh;
    transition: 0.5s;
  }
}
@media screen and (max-width: 800px) {
  .conteudo{
    height: 60%;
    transition: 0.5s;
  }
  .navbar{
    height: 7vh;
    transition: 0.5s;
  }
}
  @media screen and (max-width: 700px) {
    .conteudo{
      height: 50%;
      transition: 0.5s;
    }
    .navbar{
      height: 5vh;
      transition: 0.5s;
    }
  }
  @media screen and (max-width: 600px) {
    .conteudo{
      height: 47.5%;
      transition: 0.5s;
    }
    .navbar{
      height: 4vh;
      transition: 0.5s;
    }
  }
   @media screen and (max-width: 600px) {
    .conteudo{
      height: 47.5%;
      transition: 0.5s;
    }
    .navbar{
      height: 4vh;
      transition: 0.5s;
    }
  } */

.conteudo_superior{
  width: 80%;
  font-weight:800;
  font-size: max(2.2vh, 15px);
  font-size: max(2.2vw, 15px);
  border-bottom: #000000 solid 1px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  }
  .conteudo_medio{
 height: 15%;
 width: 100%;
 font-size: max(1.5vw, 7px);
 font-weight: 600;
  }
.conteudo_inferior{
    height: max(6vh,17px);
   width: max(25.5vw,220px);
 display: flex;
 justify-content: space-between;
}
.conteudo p{
  margin: 0;
}
.conteudo_inferior button{
  width: 47%;
  height: 100%;
  border-radius: 25px;
  font-size: max(1.2vw, 10px);
  font-weight: 600;
  cursor: pointer;
}
.b1{
  background-color: #279cfc;
  color: rgb(0, 0, 0);
  border: 0;
}
.b1:hover{
  background-color: #0066ff;
  transition: 1s;
}
.b2:hover{
  background-color: #131313;
  transition: 1s;
}
.links :hover{
  color: #b1b1b1;
  transition: 1s;
}
.b2{
  border: solid 2px #279cfc;
  background-color: #000000;
  color: #279cfc;
}

/* ............................................................................................. */
/* Inicio carrossel */

.container.carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;

}

.slide {
  overflow: hidden;
  max-width: 600px;
  position: relative;
  border-radius: 5px;
}

.slide .slide_item,
.slide .slide_item-hidden {
  display: none;
  text-align: center;
  font-size: max(0.8vw, 10px);
}

.slide .slide_item h2 {
  margin-top: -130px;
}

.slide .slide_item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.slide .slide_item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.slide .slide_actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide .slide_actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #242424;
}

.slide .slide_actions button[data-js="slide_button-prev"] {
  margin-left: 20px;
}

.slide .slide_actions button[data-js="slide_button-next"] {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

/* Seção sobre */

.cont_sobre {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sobre_nos_left {
  flex-direction: row;
  background-color: #e6d7ff;
  width: 30%;
  height: 70%;
  color: #252525;
  border-radius: 2%;
  border: 1px solid #252525;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sobre_nos_right {
  flex-direction: row;
  background-color: #e6d7ff;
  width: 50%;
  height: 70%;
  color: #252525;
  border-radius: 2%;
  border: 1px solid #252525;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

.sobre_nos_left button {
  background-color: #5a5959;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
  color: #F4F4F4;
  font-size: 16px;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.sobre_nos_left button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 15px 20px;
  transition: 1s;
}

.row_1,
.row_2 {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  padding: 1%;
  justify-content: space-around;
}

.portrait {
  width: 27%;
  margin: 1%;
  height: 100%;
  color: #252525;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.portrait:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back {
  background-color: #bbb;
  color: black;
  border: #000000 1px solid;
  border-radius: 10%;
  cursor: pointer;
  transition: 2s all;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-back { 
  transform: rotateY(180deg);
}

.portrait img{
  width: 100%;
  height: 100%;
  border-radius: 10%;
}