@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Poppins';
}

.navbar {
    width: 100%;
    height: 10%;
    align-items: center;
    position: fixed;
    display: flex;
    border-bottom: 3px solid navy;
    background-color: aliceblue;
    
}

.nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    
}

.menu {
    width: 25%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    
}

.links {
    text-decoration: none;
    color: navy;
}

nav{
    width: 90vw;
    margin: auto;
    border: 2px solid #000000;
    color: #F4F4F4;
}

.container {
    width: 94vw;
    margin: auto;

}

.container.imagemFundo{
height: 100vh;
width: 100vw;
background-image: url("../assecs/pc.webp");


}

/* Inicio carrossel */
.container.carrossel {
    margin-top: 15vh;
}

.slider {
    margin: 0;
    width: 80vw;
    height: 1080 * 80 / 1900;
}

.cont_sobre {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sec_sobre div{
    background-color: #e6d7ff;
    width: 30%;
    height: 70%;
    color: #252525;
    border-radius: 2%;
    border: 1px solid  #252525;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.sobre_nos_right{
    flex-direction: row !important;
    background-color: #e6d7ff;
    width: 50% !important;
    height: 70%;
    color: #252525;
    border-radius: 2%;
    border: 1px solid  #252525;
}

.sobre_nos_left button{
    background-color: #5a5959;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
  color: #F4F4F4;
  font-size: 16px;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.sobre_nos_left button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 15px 20px;
  transition: 1s;
}

.row_1{
    display: flex;
    flex-direction: row;
    height: 40%;
    width: 100%;
}
.row_1 div{
    border: #000000 1px solid;
    /* width: 33%; */
}