@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {

  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

.navbar {
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
  position: fixed;
  display: flex;
  border-bottom: 3px solid rgb(94, 94, 94);
  background-color: rgb(0, 0, 0);
  z-index: 999;
}

.nav {
  /* border: 3px solid rgb(22, 209, 5); */
  width: 94%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav img {
  height: 100%;

}

.menu {
  /* border: 3px solid rgb(5, 209, 199); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  text-decoration: none;
  height: 100%;
  width: 20%;
}

.links {
  text-decoration: none;
  color: rgb(255, 255, 255);
  list-style: none;
  /* border: 3px solid rgb(5, 209, 199); */
}

.container {
  width: 94vw;
  margin: auto;
  border: solid 1px red;

}

.imagemFundo {
  height: 100vh;
  width: 98.7vw;
  background-image: url("../assets/imgs/4.jpg");
  background-size: cover;

}

.container.informaçao {
  border: solid red 1px;
  height: 100%;
  justify-self: center;
}

.conteudo {
  height: 80%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  border: solid 1px blue;
}

.conteudo_inferior {
  border: solid red 1px;
  height: 20%;
  width: 70%;
}

.conteudo_superior {
  border: solid red 1px;
  height: 20%;
  width: 70%;
  font-weight: 600;
  font-size: 30px;
}

.conteudo p {
  margin: 0;
}

.conteudo_botoes {
  border: solid red 1px;
  height: 7%;
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.b1 {
  width: 45%;
  height: 100%;
  border: 0;
  background-color: #ff7b00;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.b2 {
  width: 45%;
  height: 100%;
  border: 0;
  background-color: #000000;
  border-radius: 25px;
  color: #ff7b00;
  cursor: pointer;
  border: #ff7b00 solid 2px;
}

/* ............................................................................................. */
/* Inicio carrossel */

.container.carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;

}

.slide {
  overflow: hidden;
  max-width: 600px;
  position: relative;
  border-radius: 5px;
}

.slide .slide_item,
.slide .slide_item-hidden {
  display: none;
  text-align: center;
  font-size: max(0.8vw, 10px);
}

.slide .slide_item h2 {
  margin-top: -130px;
}

.slide .slide_item img {
  width: 100%;
  max-width: 600px;
  height: auto;
}

.slide .slide_item-visible {
  display: block;
  animation: fadeVisibility 0.5s;
}

.slide .slide_actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.slide .slide_actions button {
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  cursor: pointer;
  width: 40px;
  height: 40px;
  color: #FFF;
  background-color: #242424;
}

.slide .slide_actions button[data-js="slide_button-prev"] {
  margin-left: 20px;
}

.slide .slide_actions button[data-js="slide_button-next"] {
  margin-right: 20px;
}

@keyframes fadeVisibility {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: opacity linear;
  }
}

/* Seção sobre */

.cont_sobre {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.sobre_nos_left {
  flex-direction: row;
  background-color: #e6d7ff;
  width: 30%;
  height: 70%;
  color: #252525;
  border-radius: 2%;
  border: 1px solid #252525;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sobre_nos_right {
  flex-direction: row;
  background-color: #e6d7ff;
  width: 50%;
  height: 70%;
  color: #252525;
  border-radius: 2%;
  border: 1px solid #252525;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

.sobre_nos_left button {
  background-color: #5a5959;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  cursor: pointer;
  color: #F4F4F4;
  font-size: 16px;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: 1s;
}

.sobre_nos_left button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 15px 20px;
  transition: 1s;
}

.row_1,
.row_2 {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 100%;
  padding: 1%;
  justify-content: space-around;
}

.portrait {
  width: 27%;
  margin: 1%;
  height: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.portrait:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front,
.flip-card-back {
  background-color: #bbb;
  color: black;
  border: #000000 1px solid;
  border-radius: 10%;
  cursor: pointer;
  transition: 2s all;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-back { 
  transform: rotateY(180deg);
}

.portrait img{
  width: 100%;
  height: 100%;
  border-radius: 10%;
}